<!DOCTYPE html>
<html>
<head>
  <title>WileyPecan</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
</head>
<body ng-app="AngularRails">
	<%= render "components/navbar" %>

<%= yield %>

</body>
</html>
